
@media only screen and (min-width:320px){
    nav{
        width:100vw;
        display:flex;
        justify-content: flex-end;
        gap:12px;
        align-items:center;
        margin-top:1%;
        margin-bottom:20px;
        padding-right:2%;
    }

    #linkedIn,#github{
        color:var(--frostwhite);
        display:block;
    }

    #contact-button{
        color:var(--frostwhite);
        background:none;
        font-family:"Figtree", serif;
        font-size:12px;
        font-weight:600;
        border-radius:8px;
        border:1px solid var(--frostwhite);
        padding:4px;
        cursor:pointer;
    }

    .navigation{
        display:none;
    }

    header{
        font-family:"Figtree", serif;
        margin:0 10%;
        margin-bottom:100px;
    }
    #about-me p:nth-child(1){
        font-size:16px;
        color:var(--frostwhite);
        line-height:normal;
    }
    #about-me > h1{
        font-weight:700;
        font-size:34px;
        color:var(--redpink);
    }
    #about-me > h3{
        font-weight:700;
        font-size:23px;
        color:var(--frostwhite);
    }
    #about-me > h4{
        font-weight:600;
        font-size:19px;
        line-height:normal;
        margin-bottom:50px;
        color:var(--frostwhite);
    }

    section{
        text-wrap:balance;
    }
    section > h2{
        margin-bottom:20px;
        font-size:28px;
        font-weight:700;
        color:var(--frostwhite);
    }

    section p{
        font-size:16px;
        color:var(--frostwhite);
    }
}

@media only screen and (min-width:992px){
    nav{
        margin-top:1%;
        margin-bottom:20px;
        padding-right:2%;
    }

    #linkedIn,#github{
        color:var(--frostwhite);
        width:36px;
        height:36px;
        display:block;
    }

    #contact-button{
        color:var(--frostwhite);
        background:none;
        font-family:"Figtree", serif;
        font-size:16px;
        font-weight:600;
        border-radius:12px;
        border:2px solid var(--frostwhite);
        padding:8px;
    }

  
    .navigation{
        position:sticky;
        left:0.5%;
        top:15%;
        display:block;
        width:fit-content;
    }

    .navigation ul{
        list-style:url('../assets/bullet-planet-small.svg');
        font-size:18px;
        font-family:"Figtree",serif;
        font-weight:700;
    }

    .navigation ul li a{
        color:var(--frostwhite);
        text-decoration:none;
    }

    header{
        font-family:"Figtree", serif;
        margin:0 15%;
        margin-bottom:200px;
    }
    #about-me p:nth-child(1){
        font-size:18px;
        color:var(--frostwhite);
        line-height:normal;
    }
    #about-me > h1{
        font-weight:700;
        font-size:48px;
        color:var(--redpink);
    }
    #about-me > h3{
        font-weight:700;
        font-size:28px;
        color:var(--frostwhite);
    }
    #about-me > h4{
        font-weight:600;
        font-size:24px;
        line-height:normal;
        margin-bottom:100px;
        color:var(--frostwhite);
    }

    section{
        text-wrap:balance;
    }
    section > h2{
        margin-bottom:40px;
        font-size:38px;
        font-weight:700;
        color:var(--frostwhite);
    }
    section p{
        font-size:18px;
        color:var(--frostwhite);
    }
}

@media only screen and (min-width:1200px){
    nav{
        margin-top:1%;
        margin-bottom:20px;
        padding-right:2%;
    }

    #linkedIn,#github{
        color:var(--frostwhite);
        width:48px;
        height:48px;
        display:block;
    }

    #contact-button{
        color:var(--frostwhite);
        background:none;
        font-family:"Figtree", serif;
        font-size:20px;
        font-weight:600;
        border-radius:12px;
        border:2px solid var(--frostwhite);
        padding:10px;
    }

  
    .navigation{
        position:sticky;
        left:1%;
        top:13%;
        display:block;
        width:fit-content;
    }

    .navigation ul{
        list-style:url('../assets/bullet-planet-small.svg');
        font-size:20px;
        font-family:"Figtree",serif;
        font-weight:700;
    }

    .navigation ul li a{
        color:var(--frostwhite);
        text-decoration:none;
    }

    header{
        font-family:"Figtree", serif;
        margin:0 20%;
        margin-bottom:300px;
    }
    #about-me p:nth-child(1){
        font-size:20px;
        color:var(--frostwhite);
        line-height:normal;
    }
    #about-me > h1{
        font-weight:700;
        font-size:60px;
        color:var(--redpink);
    }
    #about-me > h3{
        font-weight:700;
        font-size:38px;
        color:var(--frostwhite);
    }
    #about-me > h4{
        font-weight:600;
        font-size:32px;
        line-height:normal;
        margin-bottom:100px;
        color:var(--frostwhite);
    }

    section{
        text-wrap:balance;
    }
    section > h2{
        margin-bottom:40px;
        font-size:48px;
        font-weight:700;
        color:var(--frostwhite);
    }
    section p{
        font-size:20px;
        color:var(--frostwhite);
    }
}