
@media only screen and (min-width:320px){
    main{
        margin:0 10%;
        margin-bottom:100px;
    }
    main > h2{
        margin-bottom:20px;
        font-size:28px;
        font-weight:700;
        color:var(--frostwhite);
        font-family:"Figtree", serif;
    }

    #experience-one{
        border:1px solid var(--frostwhite);
        border-radius:12px;
        padding:20px;
        background-color: var(--dark-blue);  
        margin-bottom:40px;
    }

    #experience-one > p{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-size:16px;
    }

    .jobHeader{
        display:flex;
        gap:20px;
        font-family:"Figtree", serif;
        font-weight:700;
        align-items:center;
        margin-bottom:2px;
    }

    .jobHeader > h4{
        color:var(--purple);
        font-size:19px;
    }
    
    .jobHeader > p{
        color:rgba(157, 78, 221, 0.65);
        font-size:16px;
    }

    #experience-two{
        border:1px solid var(--frostwhite);
        border-radius:12px;
        padding:20px;
        background-color: var(--dark-blue);  
        margin-bottom:40px;
    }

    #experience-two > p{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-size:16px;
    }

    #resume{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        font-size:28px;
        text-decoration:underline;
    }
    .toolTags{
        display:flex;
        gap:10px;
    }
    .tag{
        box-sizing:content-box;
        padding:8px;
        color:#e94560;
        font-family:"Figtree", serif;
        font-size:12px;
        border:1px solid var(--redpink);
        border-radius:8px;
    }
}

@media only screen and (min-width:992px){
    main{
        margin:0 15%;
        margin-bottom:200px;
    }
    main > h2{
        margin-bottom:40px;
        font-size:38px;
        font-weight:700;
        color:var(--frostwhite);
        font-family:"Figtree", serif;
    }

    #experience-one{
        border:1px solid var(--frostwhite);
        border-radius:12px;
        padding:20px;
        background-color: var(--dark-blue);  
        margin-bottom:40px;
    }

    #experience-one > p{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-size:18px;
    }

    .jobHeader{
        display:flex;
        gap:20px;
        font-family:"Figtree", serif;
        font-weight:700;
        align-items:center;
        margin-bottom:2px;
    }

    .jobHeader > h4{
        color:var(--purple);
        font-size:24px;
    }
    
    .jobHeader > p{
        color:rgba(157, 78, 221, 0.65);
        font-size:18px;
    }

    #experience-two{
        border:1px solid var(--frostwhite);
        border-radius:12px;
        padding:20px;
        background-color: var(--dark-blue);  
        margin-bottom:40px;
    }

    #experience-two > p{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-size:18px;
    }

    #resume{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        font-size:31px;
        text-decoration:underline;
    }
    .toolTags{
        display:flex;
        gap:10px;
    }
    .tag{
        box-sizing:content-box;
        padding:8px;
        color:#e94560;
        font-family:"Figtree", serif;
        font-size:14px;
        border:1px solid var(--redpink);
        border-radius:8px;
    }
}

@media only screen and (min-width:1200px){
    main{
        margin:0 20%;
        margin-bottom:300px;
    }
    main > h2{
        margin-bottom:40px;
        font-size:48px;
        font-weight:700;
        color:var(--frostwhite);
        font-family:"Figtree", serif;
    }

    #experience-one{
        border:2px solid var(--frostwhite);
        border-radius:12px;
        padding:20px;
        background-color: var(--dark-blue);  
        margin-bottom:50px;
    }

    #experience-one > p{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-size:20px;
    }

    .jobHeader{
        display:flex;
        gap:20px;
        font-family:"Figtree", serif;
        font-weight:700;
        align-items:center;
        margin-bottom:2px;
    }

    .jobHeader > h4{
        color:var(--purple);
        font-size:32px;
    }
    
    .jobHeader > p{
        color:rgba(157, 78, 221, 0.65);
        font-size:20px;
    }

    #experience-two{
        border:2px solid var(--frostwhite);
        border-radius:12px;
        padding:20px;
        background-color: var(--dark-blue);  
        margin-bottom:50px;
    }

    #experience-two > p{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-size:20px;
    }

    #resume{
        color:var(--frostwhite);
        font-family:"Figtree", serif;
        font-size:38px;
        text-decoration:underline;
    }
    .toolTags{
        display:flex;
        gap:10px;
    }
    .tag{
        box-sizing:content-box;
        padding:10px;
        color:#e94560;
        font-family:"Figtree", serif;
        font-size:16px;
        border:1px solid var(--redpink);
        border-radius:8px;
    }
}