
@media only screen and (min-width:320px){
    #projects{
        margin:0 10%;
    }

    .projectContainer{
        display:flex;
        flex-wrap:wrap;
        gap:20px;
        justify-content:center;
    }
    #projects > h2{
        margin-bottom:20px;
        font-size:28px;
        font-weight:700;
        color:var(--frostwhite,white);
        font-family:"Figtree", serif;
    }

    #project-one{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:320px;
        background-color: var(--dark-blue,navy);  
    }
    
    #project-one > picture{
        margin-bottom:6px;
    }
    #project-one > h4{
        color:var(--purple,DarkOrchid);
        font-size:19px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-one > p{
        color:var(--frostwhite,white);
        font-size:16px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    #project-two{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:320px;
        background-color: var(--dark-blue,navy);  
    }
    
    #project-two > picture{
        margin-bottom:6px;
    }
    #project-two > h4{
        color:var(--purple,DarkOrchid);
        font-size:19px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-two > p{
        color:var(--frostwhite,white);
        font-size:16px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    #project-three{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:320px;
        background-color: var(--dark-blue,navy);  

    }
    
    #project-three > picture{
        margin-bottom:6px;
    }
    #project-three> h4{
        color:var(--purple,DarkOrchid);
        font-size:19px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-three > p{
        color:var(--frostwhite,white);
        font-size:16px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }
    
    .githubProject{
        display:flex;
        align-items:center;
        color:var(--frostwhite,white);
        transition: all .2s ease-in-out; 
    }

    .githubProject:hover{
        transform: scale(1.2);
    }
    .projectTags{
        display:flex;
        flex-wrap:wrap;
        gap:10px;
    }

}

@media only screen and (min-width:992px){
    #projects{
        margin:0 15%;
    }

    .projectContainer{
        display:flex;
        flex-wrap:wrap;
        gap:20px;
        justify-content:flex-start;
    }
    #projects > h2{
        margin-bottom:20px;
        font-size:38px;
        font-weight:700;
        color:var(--frostwhite,white);
        font-family:"Figtree", serif;
    }

    #project-one{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:320px;
        background-color: var(--dark-blue,navy);  
        flex: 1 1 320px;
    }
    
    #project-one > picture{
        margin-bottom:6px;
    }
    #project-one > h4{
        color:var(--purple,DarkOrchid);
        font-size:24px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-one > p{
        color:var(--frostwhite,white);
        font-size:18px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    #project-two{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:320px;
        background-color: var(--dark-blue,navy);  
        flex: 1 1 320px; 
    }
    
    #project-two > picture{
        margin-bottom:6px;
    }
    #project-two > h4{
        color:var(--purple,DarkOrchid);
        font-size:24px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-two > p{
        color:var(--frostwhite,white);
        font-size:18px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    #project-three{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:320px; 
        background-color: var(--dark-blue,navy);  
        flex: 1 1 320px;
    }
    
    #project-three > picture{
        margin-bottom:6px;
    }
    #project-three> h4{
        color:var(--purple,DarkOrchid);
        font-size:24px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-three > p{
        color:var(--frostwhite,white);
        font-size:18px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    .githubHyperLink{
        display:block;
        width:32px;
        height:32px;
    }

}

@media only screen and (min-width:1200px){
    #projects{
        margin:0;
    }

    .projectContainer{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        margin:0 15%;
        
    }
    #projects > h2{
        margin-bottom:20px;
        font-size:48px;
        font-weight:700;
        color:var(--frostwhite,white);
        font-family:"Figtree", serif;
        margin-left:20%;
    }

    #project-one{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:400px;
        background-color: var(--dark-blue,navy);  
        flex: 1 1 400px;
    }
    
    #project-one > picture{
        margin-bottom:6px;
    }
    #project-one > h4{
        color:var(--purple,DarkOrchid);
        font-size:32px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-one > p{
        color:var(--frostwhite,white);
        font-size:20px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    #project-two{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:400px;
        background-color: var(--dark-blue,navy);  
        flex: 1 1 400px; 
    }
    
    #project-two > picture{
        margin-bottom:6px;
    }
    #project-two > h4{
        color:var(--purple,DarkOrchid);
        font-size:32px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-two > p{
        color:var(--frostwhite,white);
        font-size:20px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    #project-three{
        padding:25px;
        border:1px solid var(--frostwhite,white);
        border-radius:12px;
        max-width:400px; 
        background-color: var(--dark-blue,navy);  
        flex: 1 1 400px;
    }
    
    #project-three > picture{
        margin-bottom:6px;
    }
    #project-three> h4{
        color:var(--purple,DarkOrchid);
        font-size:32px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
        font-weight:700;
    }
    #project-three > p{
        color:var(--frostwhite,white);
        font-size:20px;
        font-family:"Figtree", serif;
        margin-bottom:6px;
    }

    .githubHyperLink{
        display:block;
        width:32px;
        height:32px;
    }
}